$primaryfont: inconsolata;
$backgroundcolor: #263238;
$primarycolor: #EEFFFF;
$syntax1: #F07178;
$syntax2: #C792EA;
$syntax3: #C3E88D;

/* Main Styling for Website */
body {
    font-family: $primaryfont;
    color: $primarycolor;
    background-color: $backgroundcolor;
}


/* Styling for Syntax */
.syntax1 {
    color: $syntax1;
}
.syntax2 {
    color:$syntax2;
}
.syntax3 {
    color:$syntax3;
}


.cursor {
    font-size: 28px;
}