$primaryfont: Inconsolata;
$syntax1: #C3E88D;
$syntax2:  #FF9CAC;
$syntax3:   #C792EA;
$mainBackground: #212121;
$mainfontcolor: #EEFFFF;
$mobileheadingsize: 1.28em;
$buttonfontsize: 1.28rem;
$buttonborder: 1px solid $mainfontcolor;
$aboutcontenttitlefontsize: 1.1rem;

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.syntax1 {
    color: $syntax1;
}
.syntax2 {
    color: $syntax2;
}
.syntax3 {
    color: $syntax3;
}

.banner {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: $mainBackground;
    width: 100vw;
    height: 100vh;
}
.bannerTextContainer {
    margin: 0;
}
.bannerText {
    font-family: $primaryfont;
    color: $mainfontcolor;
    font-size: $mobileheadingsize;
    text-align: center;
}
.bannerButtonContainer {
    padding: 10px;
}
.button {
        background-color: transparent;
        padding: 10px;
        color: $mainfontcolor;
        border: $buttonborder;
        font-size: $buttonfontsize;
        font-family: $primaryfont;
        border-radius: 5%;
}
.cursor {
    font-size: 1.28rem;
}
.about {
    width: 100vw;
    background-color: $mainBackground;
}
.aboutContentContainer{
    
}
.aboutContentRow {
    display: flex;
    flex-direction: row;
}
.aboutContent {
    flex-basis: 40%;
}
.aboutContentTitle {
    font-size: $aboutcontenttitlefontsize;
}