section.Title {
    display: flexbox;
    margin: auto;
    padding: 10px;
    width: 50%;
}
.Titletext {
    font-family: 'Inconsolata';
    font-size: 22px;
    text-align: center;
}
.name {
    color: #F07178;

}
.name2 {
    color: #C792EA;
}
.name3 {
    color: #C3E88D;
}
#cursor {
    font-size: 22px;
}

body{
    background-color: #263238;
    color: #EEFFFF;
}
.languageContainer {
    align-items: center;
    width: 80%;
    background-color: #EEFFFF;
}
.language {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #EEFFFF;
}
.css{
    width: 60%;
    background-color: #C3E88D;
}
.python {
    width: 60%;
    background-color: #C3E88D;
}
.html{
    width: 70%;
    background-color: #C792EA;
}
.java{
    width: 30%;
    background-color: #F07178;
}
.scss{
    width: 30%;
    background-color: #F07178;
}
.c{
    width: 30%;
    background-color: #F07178;
}
.cplus{
    width: 50%;
    background-color: #C792EA;
}
.javaScript{
    width: 50%;
    background-color: #C792EA;
}
